/* GENERAL */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    height: 10vh;
    background-color: #06131F;
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.logo {
    width: 30px;
}

/* CONTAINER */

.container {
    width: 100%;
    height: 90vh;
    background-color: #1D2D3C;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container .card {
    color: white;
    background-color: #112030;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.card .author {
    width: 100%;
    color: lightgrey;
    padding: 0.8rem 0;
}