/* GENERAL */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D2D3C;    
}

/* HEADER */

header {
    height: 10vh;
    background-color: #06131F;
    display: flex;
    align-items: center;
    padding-left: 6rem;
}

.logo {
    width: 30px;
}

/* CONTAINER */

.container {
    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    
}

.container .card {
    width: calc((100% - 6rem) / 3);
    height: 270px;
    color: white;
    background-color: #112030;
    padding: 1.5rem 2rem;
    margin: auto;
    text-align: center;
    gap: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.card .author {
    color: lightgrey;
    padding: 0.5rem 0;
}

.card_img {
    width: 130px;
    padding-bottom: .5rem;
}